# Interfaz y Target (lo que ya tenías)
source [find interface/esp_usb_jtag.cfg]
source [find target/esp32c3.cfg]

# 1. Desactivar el soporte de RTOS (Correcto)
# 2. Configuración de GDB
gdb_memory_map disable

# 3. Forzar el estado de detención al iniciar (ESTO SOLUCIONA TU ERROR)
init
halt

# 4. Opcional: Configurar la velocidad si tienes desconexiones
adapter speed 4000